# Ignore RAM-resident directories
*.tmp
*.temp

# Ignore temporary files
*~
*.bak
*.swp

# Ignore GPG files
*.gpg

# Ignore logs
*.log

# Ignore IDE files
*.idea/
*.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
